body{
    font-family: Roboto;
    margin: 0px;
}

img{
    width: 280px;
    height: 280px;
    display: flex;
    object-fit:cover;  
    object-position: 30%;
}

h1{
    display: flex;
    justify-content: center;
}
.image-border{
    border: 5px solid #3882F6;

}
a{
    text-decoration: none;
    font-size: 20px;
    color: gray;
}

.logo{
    max-width: 50px;
    max-height: 100px;
    height: auto;
    padding: 8px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.upper-content{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 16px;
    padding: 16px;
}

.upper-image{
    padding: 0px 8px;
    margin: 0 px 8px;
}

.nav{
    padding: 16px;
    gap: 16px;
}

.dark-section{
    background-color: #1F2937;
    color: #f9fAf8;
    margin: 0px;
}

.button {
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  max-width: 50%;
  max-height: 50%;
  align-items: center;
}
 
.container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.upper-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.info{
    max-width: 250px;
    margin: 16px;
    padding: 8px;
    text-align: center;
}

.lower-body{
    background-color: #E5E7EB;
    margin: 16px 0px 16px 0px;
    padding: 16px 0px 16px 0px;
}

.quote{
    color: #1f3928;
    font-size: 36px;
    font-style: italic;
    margin: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

.quote-source{
    color: #1f3928;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    padding: 16px;
}

.box{
    background-color: #3882F6;
    margin: 32px;
    border: solid;
    border-color: white;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
}

.box-text{
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.footer{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}