body{
    font-family: Roboto;
    margin: 0px;
}

img{
    width: 250px;
    height: 250px;
    display: flex;
    object-fit: cover;  
    margin: 16px;  
}

h1{
    display: flex;
    justify-content: center;
}
.image-border{
    border: 5px solid #3882F6;

}
a{
    text-decoration: none;
    font-size: 20px;
    color: gray;
}

.logo{
    max-width: 50px;
    max-height: 100px;
    height: auto;
    padding: 8px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.upper-content{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 8px;
    padding: 8px;
}

.upper-image{
    max-width: 500px;
    max-height: 500px;
    padding: 8px;
}

.nav{
    padding: 16px;
    gap: 16px;
}

.upper-section{
    background-color: #1F2937;
    color: #f9fAf8;
}

.button {
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  max-width: 50%;
}
 
.container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info{
    max-width: 250px;
    padding: 8px;
    margin: 16px;
    text-align: center;
}